@{
    /**/

    /**/

    /**/

    /**/

    ViewBag.Title = "Modulo de Procesos";
}

<h2>Modulo de Procesos</h2>

<br />
@Html.Label("Pulsa para ir a una accion", new { @class = "control-label col-md-5" })

@Html.ActionLink("Calculo de Nomina", "CalculoNomina", "Procesos","Home",
new { @class = "btn btn-primary" })
<br />
@Html.ActionLink("Salida de Empleados", "SalidaEmpleado", "Procesos","Home",
new { @class = "btn btn-primary" })
<br />
@Html.ActionLink("Vacaciones", "Vacaciones", "Procesos","Home",
new { @class = "btn btn-primary" })
<br />
@Html.ActionLink("Permisos", "Permisos", "Procesos","Home",
new { @class = "btn btn-primary" })
<br />
@Html.ActionLink("Licencias", "Licencias", "Procesos","Home",
new { @class = "btn btn-primary" })